<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit</title>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $(
      function () {
        $('#save').on('click', function () {
          let name = $('#name').val()
          let type = $('#type').val()
          let desc = $('#description').val()
          let bandid = $('#bandid').text()
          $.post('/api/band/edit', {
            id: bandid,
            name: name,
            type: type,
            description: desc
          }, function (data) {
            window.location.href = "/api/band/mybands";
          })
        })
      }
    )
  </script>
</head>

<body>


  <div class="container">
    <div class="row m-4">
      <div class="co-xs-12">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 ">
        <h4>Edit {{name}} Band</h4>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" value="{{name}}" id="name" aria-describedby="emailHelp"
              placeholder="Enter name">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" value="{{type}}" id="type" aria-describedby="emailHelp"
              placeholder="Enter type">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" value="{{description}}" id="description"
              aria-describedby="emailHelp" placeholder="Enter description">
          </div>

          <small id="error" style="color: red"></small>
        </form>
        <button class="btn btn-primary" id="save">Save</button>
        <span id="bandid" hidden>{{bandid}}</span>
      </div>

    </div>

  </div>

</body>

</html>